body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll;
}

html, body, #root, #root>div {
  height: 100%;
}

#root>div>main {
  height: calc(100% - 65px);
}


.responsive-img {
  max-width: 600px;
}

@media screen and (max-width: 699px) {
  .responsive-img {
    max-width: 300px;
  }
}

.markdown-preview img {
  max-width: 350px;
}

.markdown-preview blockquote {
  color: gray;
}


.container {
  max-width: 960px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 699px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
